<p>Hi,</p>
<p>We have processed the file with following stats:</p>
<p>Succesful records: <%= @process_contacts_count %></p>
<p>Failed records: <%= @error_records_count %></p>
Please find the attached error and success file.
